import AP.Common.GDT as apCommonGDT;

[ChangeHistory]businessobject Certificate_Types raises MsgError{

		message MsgError text "&1":LANGUAGEINDEPENDENT_EXTENDED_Text;

        [AlternativeKey][Label("Certificate ID")]element CertificateID : ID;
		[Label("Certificate Name")]element CertificateName : LANGUAGEINDEPENDENT_LONG_Name;
		[Label("Notes")]element Notes : LANGUAGEINDEPENDENT_LONG_Description;
		[DependentObject(AttachmentFolder)] node CTAttachmentFolder;

        node Allowed_Places[0,n]{
		     [Label("Country")]element Country : CountryCode;
			 [Label("State")]element State : RegionCode; 
		}

		action fillTable;
}
